:root {
 background-color: #e5e5e5;
 --text-color: #212121;
 --text-color-g: #757575;
 --blue-color: #2196f3;
 --grey-b-color: #f5f4fa;
}

.whole-site {
 font-family: "Roboto", sans-serif;
 color: #212121;
}
.nav-list {
 font-weight: 500;
 line-height: 1, 14em;
}
.name {
 font-family: "Raleway", sans-serif;
 font-weight: 700;
 line-height: 1, 15em;
}
[title="mailh"] {
 font-weight: 500;
 line-height: 1, 14em;
 color: var(--text-color-g);
}
[title="phoneh"] {
 font-weight: 500;
 line-height: 1, 14em;
 color: var(--text-color-g);
}
.button1 {
 background-color: var(--grey-b-color);
 color: var(--text-color);
 cursor: pointer;
 line-height: 26px;
}
button:hover {
 transition-delay: 0ms;
 background-color: var(--blue-color);
 color: white;
}
a:hover {
 color: var(--blue-color);
}
.caption-header {
 font-weight: 700;
 color: var(--text-color);
 line-height: 2em;
}
.caption-p {
 color: var(--text-color-g);
 line-height: 1, 85em;
}
.address {
 line-height: 1, 71em;
}
[title="mailf"] {
 line-height: 1, 71em;
 color: var(--text-color-g);
}
[title="phonef"] {
 line-height: 1, 71em;
 color: var(--text-color-g);
}
a:focus {
 background-color: var(--blue-color);
}
button:focus {
 background-color: var(--blue-color);
}
