*,
*::before,
*::after {
 box-sizing: border-box;
}

:root {
 --nav-bar-color: #ececec;
 --background-color: #e5e5e5;
 --text-color: #212121;
 --text-color-g: #757575;
 --blue-color: #2196f3;
 --grey-b-color: #f5f4fa;
 --white-color: #ffffff;
 --black-color: #000000;
 --main-h1-color: #2f303a;
}

/*Początek index.html*/
/* Ustawienia globane */
ul {
 list-style: none;
}
.container {
 width: 1600px;
 margin: auto;
}
section {
 padding-top: 94px;
 padding-bottom: 94px;
}
.whole-site {
 font-family: "Roboto", sans-serif;
 font-weight: 400;
 color: var(--text-color);
}
button:hover {
 transition-delay: 0ms;
 background-color: var(--blue-color);
 color: var(--white-color);
}
a:visited {
 color: var(--text-color);
}
a:hover {
 color: var(--blue-color);
}
a:link {
 text-decoration: none;
}
a:focus {
 background-color: var(--blue-color);
}
button:focus {
 background-color: var(--blue-color);
}
/*-------------------- */
/*      Nagłówek      */
.nav-bar {
 display: flex;
 align-items: center;
 padding-left: 215px;
 padding-right: 215px;
 border-bottom: solid 1px #eeeeee;
}
.nav-list {
 font-weight: 500;
 line-height: 1, 14em;
 display: inline-flex;
 justify-content: space-evenly;
 padding-left: 0px;
 gap: 50px;
}
.contacts {
 flex-grow: 1;
 display: inline-flex;
 gap: 50px;
}
.contacts-h {
 font-weight: 500;
 line-height: 1, 14em;
 color: var(--text-color-g);
}
.name {
 flex-grow: 1;
}
.nav {
 display: inline-flex;
 flex-grow: 2;
 justify-content: center;
 margin-right: 200px;
}
.name {
 font-family: "Raleway", sans-serif;
 font-weight: 700;
 line-height: 1, 15em;
 color: var(--black-color);
}
.Web {
 color: var(--blue-color);
}
/*-------------------*/
/*      Stopka       */
.footer {
 display: flex;
 background-color: var(--main-h1-color);
}
.footer-inbox {
 margin-left: 215px;
 margin-top: 60px;
 margin-bottom: 60px;
}
.footer-list {
 padding-left: 0px;
 margin: 0;
 margin-top: 9px;
}
.footer-list > *:first-child {
 padding-bottom: 9px;
}
.footer-inbox > *:first-child {
 display: flex;
 padding-bottom: 20px;
}
.contacts-f {
 line-height: 1, 71em;
 color: var(--text-color-g);
}
.address {
 line-height: 1, 71em;
 color: var(--white-color);
}
/*-----------------------*/
/* Efektywne rozwiązania */
.main-h1 {
 display: flex;
 background-color: var(--main-h1-color);
 height: 600px;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.main-text {
 text-indent: -26px;
 margin: 0;
 margin-bottom: 30px;
}
.button1 {
 display: flex;
 height: 50px;
 width: 200px;
 align-items: center;
 justify-content: center;
}
.button1 {
 background-color: var(--blue-color);
 color: var(--white-color);
 cursor: pointer;
 line-height: 1, 875em;
 font-weight: 700;
 border: none;
 border-radius: 4px;
}
.main-text {
 display: block;
 font-weight: 900;
 line-height: 1, 36em;
 color: var(--white-color);
 font-size: 44px;
}
/*------------------*/
/*      Zalety      */
.advantages {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0px;
 padding-left: 150px;
 padding-right: 150px;
}
.advantages-list {
 display: inline-flex;
 margin: 0px;
 padding: 0px;
 justify-content: center;
 align-items: center;
 gap: 30px;
}
.advantages-title {
 font-weight: 700;
 line-height: 1, 17em;
}
.advantages-text {
 line-height: 1, 5em;
 color: var(--text-color-g);
}
/*------------------*/
/* Czym się zajmujemy */
.projects {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 justify-content: flex-start;
}
.projects-h2 {
 display: flex;
 justify-content: center;
 margin-top: 0px;
 margin-bottom: 50px;
 font-weight: 700;
 line-height: 1, 17em;
}
.projects-images {
 display: inline-flex;
 justify-content: center;
 align-items: center;
 gap: 30px;
}
/*--------------------*/
/*     Zespół        */
.team-h2 {
 font-weight: 700;
 line-height: 1, 17em;
}
.team-header {
 font-weight: 500;
 line-height: 1, 17em;
 display: flex;
 justify-content: center;
 align-items: center;
}
.team-p {
 color: var(--text-color-g);
 line-height: 1, 17em;
 display: flex;
 justify-content: center;
 align-items: center;
}
.team-h2 {
 display: inline-flex;
 justify-content: center;
}
.team {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.team-images {
 display: inline-flex;
 align-self: center;
 padding: 0px;
 gap: 30px;
}
.image-team {
 margin: 0px;
 border: solid 1px #eeeeee;
}
/*-------------------*/
/* Koniex index.html */
/* Początek portfolio.html */
/* Przyciski */
.button2 {
 background-color: var(--grey-b-color);
 color: var(--text-color);
 cursor: pointer;
 border: none;
 line-height: 1, 625em;
 font-weight: 500;
 border-radius: 4px;
 width: 121px;
 height: 38px;
 font-size: 16px;
}
.buttons {
 display: flex;
 justify-content: center;
 padding: 0px;
 margin-bottom: 56px;
}
.buttons .buttons-inbox {
 display: inline-flex;
 gap: 8px;
 margin-top: 94px;
 margin-bottom: 0px;
}
.button-inbox {
 background-color: var(--grey-b-color);
 color: var(--text-color);
 cursor: pointer;
 line-height: 1, 875em;
 font-weight: 700;
}
/*-------------*/
/* Produkty */
.caption-header {
 font-weight: 700;
 line-height: 2em;
 margin-bottom: 20px;
 margin-top: 0;
}
.caption-p {
 color: var(--text-color-g);
 line-height: 1, 85em;
 margin-top: 0px;
}

.products ul {
 display: flex;
 flex-wrap: wrap;
 padding-left: 30px;
 padding-right: 30px;
 padding-bottom: 30px;
 justify-content: center;
 gap: 30px;
}
.image {
 margin: 0px;
}

.image img {
 display: block;
}

.products-caption {
 border: solid 1px #eeeeee;
 padding-left: 20px;
 border-top: none;
}

.products {
 padding-top: 0px;
 vertical-align: bottom;
}
/*---------------------*/
/* Koniex portfolio.html */
