/*=== set-> settings ===*/
/*---> global-set <---*/
.footer-bar {
 background-color: $main-h1-color;
}
/*--- button-set ---*/
.footer-bar {
 &__button-box {
  display: flex;
  align-items: flex-end;
  padding-left: 12px;
 }
 &__button {
  width: 200px;
  height: 50px;
  background-color: $blue-color;
  color: $white-color;
  border: 1px $blue-color solid;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  fill: $white-color;
  cursor: pointer;
 }
}
/*--- list-set ---*/
.footer-bar {
 &__list {
  margin: 0px;
  font-size: 14px;

  :nth-child(1) {
   padding-bottom: 9px;
   padding-top: 9px;
  }
 }
 &__list:focus {
  color: $blue-color;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
 }
}
.footer-bar__list {
 .footer-bar__contact {
  color: $text-color-g;
 }
 .footer-bar__contact:hover {
  color: $blue-color;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
 }
 .footer-bar__contact:focus {
  color: $blue-color;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
 }
}
/*--- contact-set ---*/
.company-name {
 color: $white-color;
}
.footer-bar__address {
 line-height: 1, 71em;
 color: $white-color;
 padding-top: 20px;
 font-size: 14px;
}
.footer-bar__header-3 {
 color: $background-color;
}
/*--- icons-set ---*/
.footer-bar__icon {
 width: 20px;
 height: 20px;
 fill: $white-color;
}
.social-icons--focus {
 display: inline-flex;
 justify-content: center;
 align-items: center;
 width: 44px;
 height: 44px;
 margin-left: 10px;
 border-radius: 50%;
 background-color: rgba(255, 255, 255, 0.1);

 &:hover {
  background-color: $blue-color;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  svg {
   fill: $white-color;
   transition: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms;
  }
 }
 &:focus {
  background-color: $blue-color;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  outline: none;
  svg {
   fill: $white-color;
   transition: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms;
  }
 }
}
/*--- input-set ---*/
.footer-bar {
 &__form-box {
  input {
   color: #ffffff;
   border: 1px rgb(255, 255, 255, 0.3) solid;
   border-radius: 5px;
   background-color: #ffffff00;
   width: 358px;
   height: 50px;
   display: flex;
   padding-left: 16px;
   align-items: center;
   flex-direction: row;
  }
  input:focus {
   outline: 2px solid $text-color-g;
  }
 }
 &__form-text {
  color: $white-color;
  font-weight: 700;
 }
}
/*------*/

/*---> mobile-set <---*/
/*--- global-set ---*/
@media screen and (min-width: 360px) and (max-width: 767px) {
 .footer-bar {
  display: flex;
 }
 .footer-bar__container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
 .footer-bar__footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
}
/*--- icons-set ---*/
@media screen and (min-width: 360px) and (max-width: 767px) {
 .footer-bar__social-icons {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
}
/*--- form-set ---*/
@media screen and (min-width: 360px) and (max-width: 767px) {
 .footer-bar__form-box {
  margin-top: 60px;
  form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  }
 }
 .footer-bar__form-text {
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .footer-bar {
  &__button-box {
   padding-left: 0%;
   margin-top: 20px;
  }
 }
}
/*------*/

/*---> tablet-set <---*/
/*--- global-set ---*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
 .footer-bar {
  display: flex;
 }
 .footer-bar {
  &__container {
   padding-top: 60px;
   padding-bottom: 60px;
   display: grid;
  }
  /*... grid-set ...*/
  &__footer-box {
   grid-column: 1;
   grid-row: 1;
  }
  &__social-icons {
   grid-column: 2;
   grid-row: 1;
  }
  &__form-box {
   grid-column-start: 1;
   grid-column-end: 3;
   grid-row: 2;
   display: flex;
   align-items: center;
   justify-content: center;
  }
 }
}
/*--- section-set ---*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
 .footer-bar {
  &__footer-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  }
  &__social-icons {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-bottom: 50px;
  }
  &__form-box {
   margin-top: 60px;
   form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   }
  }
 }
}
/*--- form-set ---*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
 .footer-bar {
  &__form {
   form {
    display: flex;
    justify-content: center;
    align-items: center;
   }
  }
  &__form-text {
   display: flex;
   justify-content: center;
   align-items: center;
  }
  &__button-box {
   padding-left: 0px;
   margin-top: 20px;
  }
 }
}
/*------*/

/*---> PC-set <---*/
/*--- global-set ---*/
@media screen and (min-width: 1200px) {
 .footer-bar {
  display: flex;
  height: 252px;
  align-items: center;
  justify-content: center;
  &__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
  }
 }
}
/*--- form-set ---*/
@media screen and (min-width: 1200px) {
 .footer-bar {
  &__form {
   display: flex;
  }
 }
}
/*--- icons-set ---*/
/*------*/
