/*=== set-> settings ===*/
/*---> global-set <---*/
.header-bar {
 display: flex;
 padding-left: 10px;
 padding-right: 10px;
}
.header-bar {
 &__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
}
/*--- company-stg ---*/
.company-name {
 font-family: "Raleway", sans-serif;
 font-weight: 700;
 line-height: 1, 15em;
 font-size: 26px;
 cursor: pointer;
 display: flex;
 align-items: center;
 .web {
  color: $blue-color;
 }
 .studio {
  color: $black-color;
 }
}
/*--- navigation-stg ---*/
.header-bar__list-pages {
 font-weight: 500;
 line-height: 1, 14em;
}
/*--- contacts-stg ---*/
/*... icons-stg ...*/
.header-bar {
 &__tel-icon {
  width: 20px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-items: center;
  fill: $text-color-g;
  padding-right: 10px;
 }
 &__tel-box--focus:focus {
  svg {
   fill: $blue-color;
   transition: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms;
  }
 }
 &__tel-box:hover {
  :nth-child(1) {
   fill: $blue-color;
   color: $blue-color;
   transition: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms;
  }
 }
 .contacts-list__contact:focus {
  color: $blue-color;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
 }
}
.header-bar {
 &__mail-icon {
  width: 26px;
  height: 12px;
  cursor: pointer;
  fill: $text-color-g;
  padding-right: 10px;
  display: flex;
 }
 &__mail-box--focus:focus {
  svg {
   fill: $blue-color;
   transition: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms;
  }
 }
 &__mail-box:hover {
  :nth-child(1) {
   fill: $blue-color;
   color: $blue-color;
   transition: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms;
  }
 }
}
.header-bar {
 .contacts-list__contact {
  color: $text-color-g;
  font-weight: 500;
  line-height: 1, 14em;
  font-size: 14px;
 }
}
/*--- modal-stg ---*/
.header-bar__modal-btn {
 border: 0px;
 background-color: $white-color;
}
.header-bar {
 &__modal-box {
  .header-bar__modal-btn:focus {
   background-color: $white-color;
  }
 }
 &__modal-box {
  .header-bar__modal-btn:hover {
   background-color: $white-color;
   fill: $blue-color;
   transition: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms;
  }
 }
}
.header-bar {
 &__modal-btn:focus-within {
  svg {
   fill: $blue-color;
   transition: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms;
  }
 }
}
/*------*/
/*---> mobile-set <---*/
/*--- display-none ---*/
.header-bar__navigation {
 display: none;
}
.header-bar__container-mobile {
 display: none;
}
