/*=== set-> settings ===*/
/*---> global-set <---*/
.header-bar {
 display: flex;
 padding-left: 10px;
 padding-right: 10px;
}
.header-bar {
 &__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
}
/*--- company-stg ---*/
.company-name {
 font-family: "Raleway", sans-serif;
 font-weight: 700;
 line-height: 1, 15em;
 font-size: 26px;
 cursor: pointer;
 display: flex;
 align-items: center;
 .web {
  color: $blue-color;
 }
 .studio {
  color: $black-color;
 }
}
/*--- navigation-stg ---*/
.header-bar__list-pages {
 font-weight: 500;
 line-height: 1, 14em;
}
.header-bar__list-pages {
 .link:focus {
  color: $blue-color;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
 }
 .link:hover {
  color: $blue-color;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
 }
}
/*--- contacts-stg ---*/
/*... icons-stg ...*/
.header-bar {
 &__tel-icon {
  width: 20px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-items: center;
  fill: $text-color-g;
  padding-right: 10px;
 }
 &__tel-box--focus:focus {
  svg {
   fill: $blue-color;
   transition: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms;
  }
 }
 &__tel-box:hover {
  :nth-child(1) {
   fill: $blue-color;
   color: $blue-color;
   transition: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms;
  }
 }
 .contacts-list__contact:focus {
  color: $blue-color;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
 }
}
.header-bar {
 &__mail-icon {
  width: 26px;
  height: 12px;
  cursor: pointer;
  fill: $text-color-g;
  padding-right: 10px;
  display: flex;
 }
 &__mail-box--focus:focus {
  svg {
   fill: $blue-color;
   transition: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms;
  }
 }
 &__mail-box:hover {
  :nth-child(1) {
   fill: $blue-color;
   color: $blue-color;
   transition: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms;
  }
 }
}
.header-bar {
 .contacts-list__contact {
  color: $text-color-g;
  font-weight: 500;
  line-height: 1, 14em;
  font-size: 14px;
 }
}
/*--- modal-stg ---*/
.header-bar__modal-btn {
 border: 0px;
 background-color: $white-color;
}
.header-bar {
 &__modal-box {
  .header-bar__modal-btn:focus {
   background-color: $white-color;
  }
 }
 &__modal-box {
  .header-bar__modal-btn:hover {
   background-color: $white-color;
   fill: $blue-color;
   transition: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms;
  }
 }
}
.header-bar {
 &__modal-btn:focus-within {
  svg {
   fill: $blue-color;
   transition: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms;
  }
 }
}
/*------*/

/*---> mobile-set <---*/
/*... display-none ...*/
@media screen and (min-width: 360px) and (max-width: 767px) {
 .header-bar__navigation {
  display: none;
 }
 .header-bar__contacts {
  display: none;
 }
}
/*------*/

/*---> tablet-set <---*/
/*... display-set ...*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
 .header-bar__modal-box {
  display: none;
 }
}
/*--- navigation-set ---*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
 .header-bar__list-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  .list-pages--index {
   position: relative;
   &::after {
    content: "";
    width: 58px;
    height: 4px;
    bottom: 0%;
    top: 46px;
    left: 3px;
    border-radius: 5px;
    background-color: $blue-color;
    position: absolute;
   }
  }
  .list-pages--portfolio {
   position: relative;
   &::after {
    content: "";
    width: 60px;
    height: 4px;
    bottom: 0%;
    top: 46px;
    left: 1px;
    border-radius: 5px;
    background-color: $blue-color;
    position: absolute;
   }
  }
 }
}
/*--- contacts-set ---*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
 .header-bar__contacts-list {
  display: flex;
  flex-direction: column;
 }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
 .header-bar__tel-box {
  display: flex;
  align-items: center;
 }
 .header-bar__mail-box {
  display: flex;
  align-items: center;
 }
}
/*------*/

/*---> PC-set <---*/
/*... display-set ...*/
@media screen and (min-width: 1200px) {
 .header-bar__modal-box {
  display: none;
 }
}
/*--- navigation-set ---*/
@media screen and (min-width: 1200px) {
 .header-bar__list-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  .list-pages--index {
   position: relative;
   &::after {
    content: "";
    width: 58px;
    height: 4px;
    bottom: 0%;
    top: 46px;
    left: 1px;
    border-radius: 5px;
    background-color: $blue-color;
    position: absolute;
   }
  }
  .list-pages--portfolio {
   position: relative;
   &::after {
    content: "";
    width: 60px;
    height: 4px;
    bottom: 0%;
    top: 46px;
    left: 1px;
    border-radius: 5px;
    background-color: $blue-color;
    position: absolute;
   }
  }
 }
}
/*--- contacts-set ---*/
@media screen and (min-width: 1200px) {
 .header-bar__contacts-list {
  display: flex;
  gap: 20px;
  .header-bar__tel-box {
   display: flex;
   align-items: center;
  }
  .header-bar__mail-box {
   display: flex;
   align-items: center;
  }
 }
}
/*------*/
