@media screen and (max-width: 767px) {
 .clients {
  display: flex;
  &__header-2 {
   display: flex;
   align-items: center;
   justify-content: center;
  }
  &__clients-box {
   display: flex;
  }
 }
}
@media screen and (max-width: 767px) {
 .clients {
  &__list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   align-items: center;
   justify-content: center;
  }
  &__logo {
   fill: $icons-grey-color;
  }
  &__list--focus {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 170px;
   height: 92px;
   border: solid 1px #afb1b8;
   border-radius: 5px;
  }
  &__list--focus:focus {
   border: 1px solid $blue-color;
   transition: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms;
   outline: none;
  }
  .clients {
   &__list--focus:focus {
    border: 1px solid $blue-color;
    outline: none;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    .clients__logo {
     fill: $blue-color;
     transition: cubic-bezier(0.4, 0, 0.2, 1);
     transition-duration: 250ms;
    }
   }
  }
 }
}
/*--- PC ---*/
@media screen and (min-width: 1200px) {
 .clients {
  display: flex;
  &__container {
   width: 1170px;
  }
  &__header-2 {
   display: flex;
   align-items: center;
   justify-content: center;
  }
  &__clients-box {
   display: flex;
   justify-content: center;
   align-items: center;
  }
 }
 .clients {
  &__list {
   display: inline-flex;
   align-content: center;
   justify-content: center;
   gap: 30px;
  }
  &__logo {
   fill: $icons-grey-color;
  }
  &__list--focus {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 170px;
   height: 92px;
   border: solid 1px #afb1b8;
   border-radius: 5px;
  }
  &__list--focus:hover {
   border: 1px solid $blue-color;
   transition: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms;
   .clients__logo {
    fill: $blue-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
   }
  }
 }
 .clients {
  &__list--focus:focus {
   border: 1px solid $blue-color;
   outline: none;
   transition: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms;
   .clients__logo {
    fill: $blue-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
   }
  }
 }
}
