/*--- global-set ---*/
.service {
 display: flex;
 align-items: center;
 justify-content: center;
 &__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
}
/*--- background ---*/

/*------*/
/*--- header-1 ---*/
.service {
 &__header-1 {
  text-indent: -26px;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 900;
  line-height: 1, 36em;
  color: $white-color;
 }
}
/*--- button ---*/
.service {
 &__button {
  background-color: $blue-color;
  color: $white-color;
  cursor: pointer;
  line-height: 1, 875em;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  height: 50px;
  width: 200px;
 }
}
/*---> mobile-set <---*/
/*--- background ---*/
@media screen and (min-width: 360px) and (max-width: 767px) {
 .service {
  background-image: url(../images/background-mobile.jpg);
  background-size: cover;
  height: 400px;
  background-color: rgba(47, 48, 58, 0.4);
  background-blend-mode: multiply;
 }
}
/*---> tablet-set <---*/
/*--- background ---*/
@media screen and (min-width: 767px) and (max-width: 1199px) {
 .service {
  background-image: url(../images/background-tablet.jpg);
  background-size: cover;
  height: 400px;
  background-color: rgba(47, 48, 58, 0.4);
  background-blend-mode: multiply;
 }
}
/*---> PC-set <---*/
/*--- background ---*/
@media screen and (min-width: 1200px) {
 .service {
  height: 600px;
  background-image: url(../images/background.jpg);
  background-color: rgba(47, 48, 58, 0.4);
  background-size: cover;
  background-blend-mode: multiply;
 }
}
