$nav-bar-color: #ececec;
$background-color: #e5e5e5;
$text-color: #212121;
$text-color-g: #757575;
$blue-color: #2196f3;
$grey-b-color: #f5f4fa;
$white-color: #ffffff;
$black-color: #000000;
$main-h1-color: #30313b;
$team-box-color: #afb1b8;
$icons-footer-background: rgba(255, 255, 255);
$icons-grey-color: #afb1b8;
